body {
    background-color: white;

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgba(0, 0, 0, 0.342);
    border-width: 8px;
    width: 8%;
}

img {
    height: 180px;
}
/* h1{
    text-shadow: 1px 1px 1px black;
} */

h1, h3 {   
     color: #529494
}


.pics{

    display:flex;
    
    gap: 10px;
    justify-content: center;
    }


.pics img {
    width: 100px;
    height: 100px;
} 


